<nav>
    <a routerLink="/test" routerLinkActive="active">Test</a>
    <a routerLink="/test1" routerLinkActive="active">Test 1</a>
</nav>
<router-outlet>
    <div class="fullwidth" *ngIf="loaderStatus">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <span class="spinnerText">
                LOADING...
            </span>
        </div>
    </div>
</router-outlet>
